<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title></title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
    <link rel="stylesheet" src="static/css/fontawesome.css"/>
    <link rel="stylesheet" href="static/css/brands.css"/>
    <link rel="stylesheet" href="static/css/solid.css"/>

    <link rel="stylesheet" href="static/css/styles.css"/>

</head>
<body style="padding: 0px">

<div class="container">
    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold text-success mb-2">Sign up</h2>
                    <h2 class="fw-bold">Welcome!</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            <form method="post">
                                <div class="mb-3">
                                    <input class="form-control" id="email" type="email" name="email"
                                           placeholder="Email"></div>
                                <div class="mb-3">
                                    <input class="form-control" id="name" type="text" name="name"
                                           placeholder="Username"></div>
                                <div class="mb-3">
                                    <input class="form-control" id="password1" type="password"
                                           name="password1"
                                           placeholder="Password"></div>
                                <div class="mb-3">
                                    <input class="form-control" id="password2" type="password"
                                           name="password2"
                                           placeholder="Confirm Password"></div>
                                <div class="mb-3">
                                    <button class="btn btn-primary shadow d-block w-100" type="submit">Sign up</button>
                                </div>
                                <p class="text-muted">Already have an account?&nbsp;<a
                                        href="/account/login">Log in</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>
